.item-img{
	height:250;
	width:250;
	background-color: white;
	
}

.targets{
	height:250;
	width: 250;
	border: 1px solid black;

}
.container-items{

	float: "left";
	width: 500px;
}
.container-targets{

	float: "right";
	width: 500px;
}
.drag{
width: 1500;
height: 3000;
}